# APPLICATION
NODE_ENV=development
PORT=3000
TRUST_PROXY=false
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:3000

# DATABASE
DATABASE_URL=

# AUTHENTICATION
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# INITIAL ADMIN
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=

# SIIGO
SIIGO_API_URL=https://api.siigo.com/v1
SIIGO_USERNAME=
SIIGO_ACCESS_KEY=
SIIGO_PARTNER_ID=

# SERATUS
SERATUS_API_URL=https://shop1.com.co/wp-json/wc/v3
WOOCOMMERCE_SHOP1_CK=
WOOCOMMERCE_SHOP1_CS=

# PALI
PALI_API_URL=https://shop2.com.co/wp-json/wc/v3
WOOCOMMERCE_SHOP2_CK=
WOOCOMMERCE_SHOP2_CS=

# EMAIL
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# CLOUDFLARE TURNSTILE
VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# N8N
N8N_API_KEY=

# REDIS - RESERVED
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
